# コメント: OSが生成するファイル
.DS_Store
Thumbs.db

# コメント: ビルド生成物
*.o
*.exe
*.class
dist/
build/

# コメント: node.js の依存関係ディレクトリ
node_modules/

# コメント: ログファイル
*.log

# コメント: バックアップファイル
*.bak
*.swp

# コメント: エディタの設定ファイル
.vscode/
.idea/

# コメント: 環境変数ファイル (機密情報を含む可能性がある)
.env

# PAT
project_explain_memo.txt
