.kokugo {
  border-bottom: solid;
  color: #f50057;
  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
  font-style: normal;
  font-weight: bold;
}

#kanji {
  background: #f50057;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #f50057;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

#kanji .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #f50057;
  right: 0.3em;
  transition: all 0.3s;
}

#kanji:hover .icon {
  width: calc(100% - 0.6em);
}

#kanji .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #f50057;
}

#kanji:hover .icon svg {
  transform: translateX(0.1em);
}

#kanji:active .icon {
  transform: scale(0.95);
}

.science {
  border-bottom: solid;
  color: #4facfe;
  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
  font-style: normal;
  font-weight: bold;
}

#chemistry {
  background: #4facfe;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #4facfe;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

#chemistry .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #4facfe;
  right: 0.3em;
  transition: all 0.3s;
}

#chemistry:hover .icon {
  width: calc(100% - 0.6em);
}

#chemistry .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #4facfe;
}

#chemistry:hover .icon svg {
  transform: translateX(0.1em);
}

#chemistry:active .icon {
  transform: scale(0.95);
}

.test {
  border-bottom: solid;
  color: #6a7278;
  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
  font-style: normal;
  font-weight: bold;
}

#test {
  background: #6a7278;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #6a7278;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

#test .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #6a7278;
  right: 0.3em;
  transition: all 0.3s;
}

#test:hover .icon {
  width: calc(100% - 0.6em);
}

#test .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #6a7278;
}

#test:hover .icon svg {
  transform: translateX(0.1em);
}

#test:active .icon {
  transform: scale(0.95);
}